<!DOCTYPE HTML>
<meta charset="utf-8">
<head>
<title>活下來的距離</title>
<meta name="description" content="The HTML5 Herald">
<meta name="author" content="SitePoint">
</head>
</body>

<h1>活下來的距離</h1>


  <h2> 愚民您好, 你要活下去，現在教你算數學!</h2>
  <h5>
  </p>請輸入你所擁有空間的長邊（公尺）</p>  <h5>
  
  <form method=post action="">{{( form.m )}}
  
  <h5></p>請輸入你所擁有空間的寬邊（公尺</p> <h5>{{( form.n )}}</p>
  <input type=submit value=活下去的距離>
  {% if s != None %}

  
  
 <h2> 你要活下去，這是答案!</h2>
 <h5></p>你的長邊最多可以放 {{x}} 個瑜珈墊 </p>
 </p>你的長邊最多可以放 {{y}} 個瑜珈墊 </p>
 </p>所以以間隔一公尺來看，你的空間最多可以容納 {{z}} 個瑜珈墊 </p>
<h5>

  <h3></p>對了，除了超界要打手手的外 </p>
   </p>你，真的覺得你可以去玩<b>密室<b>嗎？ </p><h3>

{% endif %}
</form>
</html>
